// Primary and Secondary Colors
$primary-color: #53ae4d;
$winter-color: #71b5e4;

// Grayscale and Neutral Colors
$white-color: #fff;
$light-gray-color: #f0f0f0;
$dark-gray-color: #333;
$black-color: #000;

// Button Colors
$button-primary-bg: $primary-color;
$button-winter-bg: $winter-color;

// Accent and Highlight Colors
$highlight-color: $primary-color;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$modal-background-start: #4da147;
$modal-background-end: #69e860;

// Text Shadows
$text-shadow-color: rgba(0, 0, 0, 0.3);
$text-shadow: 0.2rem 0.2rem 0.5rem;

// Specific Accent Colors
$primary-color--active: darken($primary-color, 15%);

// Overlay Colors
$overlay-bg-color: rgba(0, 0, 0, 0.6);
$mobile-bg-blur: rgba(0, 0, 0, 0.15);

// Layout
$border-radius: 1.5rem;

// Fonts
$title-font: "mrs-eaves", serif;
$body-font: "Montserrat", sans-serif;
