@use "../abstracts/variables" as v;

.highlight {
  color: v.$highlight-color;
  font-weight: 700;
}

.special-link {
  font-weight: 700;
  text-decoration: underline;
}

.lazy_img {
  filter: blur(0.6rem);
  transition: ease-in-out 0.5s;

  &--loaded {
    filter: blur(0);
  }
}

.hidden {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}
