RewriteEngine On

# Check if the request is for an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Remove "pages" from the URL and internally rewrite to the "pages" directory
RewriteRule ^(about|services|winter|book)$ pages/$1.html [L]

# If the request doesn't have an extension, map it to .html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Allow requests for .js, .css, and other static files without rewriting
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule \.(js|css|png|jpg|gif|svg)$ - [L]