/* BLOG POST HERO SECTION */

.blogpost-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(photos/stripes1.jpeg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  color: white;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
}

.blogpost-hero h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

.blogpost-hero .blog-icon {
  font-weight: 700;
  background-color: white;
  color: #333;
  padding: 0.25rem 1rem;
  border-radius: 15px;
}

.blogpost-hero .author {
  font-size: rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.blogpost-hero .date {
  color: #f0f0f0;
  text-transform: uppercase;
}

/* BLOG POST MAIN SECTION */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 1.5rem 1rem;
}

main .container {
  max-width: 850px;
}

main p {
  margin-bottom: 2.25rem;
  max-width: 850px;
  font-size: 1.1rem;
  line-height: 150%;
}

main p:last-child {
  margin-bottom: 0;
}

main h2 {
  margin-bottom: 2rem;
}
