/* GENERAL STYLES */

:root {
  --primary-color: #53ae4d;
  --secondary-color: #71b5e4;
  --font-family: "Montserrat", sans-serif;
  --highlight-color: var(--primary-color);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: var(--primary-color);
}

/* UNIVERSAL BODY STYLES */

body {
  font-family: var(--font-family);
  background-color: white;
  -webkit-font-smoothing: antialiased;
}

.body-section--padding {
  padding: 4rem 2rem;
}

.body-section--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LAZY IMAGE STYLE */

.lazy-img {
  filter: blur(6px);
  transition: ease-in-out 0.5s;
}

.lazy-img.loaded {
  filter: blur(0);
}

/* UNIVERSAL PAGE HERO STYLES */

.page-hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.page-hero h1 {
  font-size: 4rem;
  padding: 1rem 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: 900;
}

.page-hero p {
  font-size: 2rem;
  padding: 0 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 580px) {
  .page-hero h1 {
    font-size: 3rem;
  }
  .page-hero p {
    font-size: 1.75rem;
  }
}

@media (max-width: 428px) {
  .page-hero h1 {
    font-size: 2.5rem;
  }
  .page-hero p {
    font-size: 1.25rem;
  }
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.highlight {
  color: var(--highlight-color);
  font-weight: 700;
}

.button,
.button--inverse,
.button--winter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.5s ease, scale 0.3s ease;
  text-transform: uppercase;
  width: max-content;
}

.button {
  background-color: var(--primary-color);
  color: white;
}

.button--inverse {
  background-color: white;
  color: var(--primary-color);
}

.button--winter {
  background-color: var(--secondary-color);
  color: white;
}

.button:hover,
.button--inverse:hover,
.button--winter:hover {
  scale: 1.05;
}

.button:active,
.button--inverse:active,
.button--winter:active {
  scale: 0.95;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background: linear-gradient(to bottom right, #4da147, #69e860);
  padding: 4rem;
  border-radius: 15px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__description,
.modal__text,
.modal a {
  color: white;
}

.modal a {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.modal__overlay,
.modal__close {
  position: absolute;
}

.modal__overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal__close {
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 11;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 500px) {
  .modal {
    padding: 1.2rem;
    width: 90vw;
    height: 40vh;
  }
}

/* HEADER AND NAVBAR STYLES */

.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  background-color: white;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.2);
}

.header.sticky {
  position: fixed;
  transition: transform 0.3s ease-in-out;
}

.header__announcements {
  background: linear-gradient(to bottom right, #53ae4d, #73d56c);
  color: white;
  padding: 0.5rem 2rem;
}

.header__links {
  display: flex;
  justify-content: space-around;
}

.header__link {
  color: white;
}

.header__link i {
  margin-right: 0.5rem;
}

.navbar {
  width: 100%;
  height: 70px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo img {
  width: 4rem;
}

.navbar__brand {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "mrs-eaves", serif;
  text-transform: capitalize;
}

.navbar__links {
  display: flex;
  gap: 2rem;
}

.navbar__link {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.navbar__link::after,
#active-nav-link::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 3px;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.navbar__link::after {
  width: 0;
}

#active-nav-link::after {
  width: 100%;
}

.navbar__link:hover::after {
  width: 100%;
}

.navbar__toggle {
  color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar__dropdown {
  display: none;
  position: absolute;
  right: 2rem;
  top: 100px;
  height: 0;
  width: 300px;
  background: var(--primary-color);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar__dropdown.open {
  height: 209.45px;
  z-index: 1;
}

.navbar__dropdown-link {
  padding: 0.7rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__dropdown-link:hover {
  scale: 1.05;
}

@media (max-width: 880px) {
  .navbar__links {
    display: none;
  }
  .navbar__toggle {
    display: block;
  }
  .navbar__dropdown {
    display: block;
  }
}

@media (max-width: 576px) {
  .navbar__dropdown {
    left: 2rem;
    width: unset;
  }
  .header__announcements span {
    display: none;
  }
}

/* HOME PAGE HERO STYLES */

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero__video {
  width: 100%;
  height: calc(100vh - 105.5px);
  object-fit: cover;
  position: absolute;
  top: 105.5px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hero__tagline {
  font-size: 3vw;
  padding: 0 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  font-weight: normal;
}

.hero__text {
  margin: 1rem 1rem 4rem;
  z-index: 1;
}

.hero__title,
.hero__subtitle {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  line-height: 90%;
}

.hero__title {
  font-size: 5.5vw;
  font-weight: 800;
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: 5vw;
}

.hero__underline--1,
.hero__underline--2 {
  position: relative;
}

.hero__underline--1::after {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  background-position: center;
  left: 0;
  bottom: 0;
  transform: translateY(35%);
  z-index: -1;
  background-image: url(backgrounds/underline-1.svg);
}

.hero__underline--2::after {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  background-position: center;
  left: 0;
  bottom: 0;
  transform: translateY(35%);
  z-index: -1;
  background-image: url(backgrounds/underline-2.svg);
}

.hero__actions {
  display: flex;
  flex-direction: column;
}

.hero__actions a {
  margin: 0.5rem;
  transition: all 0.2s ease;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-size: 2.5vw;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 950px) {
  .hero__text {
    margin-bottom: 3rem;
  }
}

@media (max-width: 700px) {
  .hero__text {
    margin-bottom: 2rem;
    line-height: 140%;
  }
  .hero__title {
    font-size: 9.5vw;
    margin-bottom: 1.5rem;
  }
  .hero__subtitle {
    font-size: 6.5vw;
  }
  .hero__actions a {
    font-size: 3.5vw;
  }
}

@media (max-width: 450px) {
  .hero__title,
  .hero__text {
    margin-bottom: 1rem;
  }
}

/* HOME PAGE SERVICES SECTION STYLES */

.services {
  text-align: center;
}

.services__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.services__intro {
  font-size: 1rem;
  margin: 1rem 1.2rem;
}

.services__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.service--active {
  background-color: #265023;
  transition: ease 0.5s;
}

.service--raised {
  transform: translateY(-25%);
  transition: ease 0.5s;
}

.services__description {
  margin-bottom: 2rem;
  background-color: #f0f0f0;
  padding: 1.5rem;
  border-radius: 15px;
  max-width: 700px;
}

.service {
  background-color: #f0f0f0;
  padding: 1.5rem;
  border-radius: 15px;
  width: 187px;
}

.service__icon {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: white;
}

@media (min-width: 1130px) {
  .services__title {
    font-size: 2.5rem;
  }
  .services__list {
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 1.5rem;
  }
  .service__icon {
    font-size: 1.25rem;
  }
  .services button {
    font-size: 1.25rem;
  }
}

/* HOME PAGE TRANSITION SECTION STYLES */

.transition {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(photos/stripes3.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.transition__title {
  font-size: 7vw;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 2rem;
  text-align: center;
  color: white;
}

@media (max-width: 800px) {
  .transition {
    background-attachment: scroll;
  }
}

/* HOME PAGE GETTING STARTED SECTION STYLES */

.getting-started {
  text-align: center;
}

.getting-started__header {
  width: 100%;
  margin-bottom: 2rem;
}

.getting-started__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.getting-started__steps {
  display: grid;
  grid-template-columns: 1fr;
}

.step {
  margin: 1rem 1.5rem;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 2rem;
}

.step__icon {
  font-size: 4rem;
  margin: 1.5rem 0;
  color: var(--primary-color);
}

.step__number {
  margin: 1rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
}

.step__description {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

@media (min-width: 973px) {
  .getting-started__steps {
    grid-template-columns: repeat(3, 1fr);
  }
  .step:last-child {
    margin-bottom: 1rem;
  }
}

/* HOME PAGE REVIEWS SECTION STYLES */

.reviews {
  background-color: #f0f0f0;
}

.reviews__header {
  margin-bottom: 1rem;
}

.reviews__title {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

/* CONTACT FORM STYLES */

.contact__header {
  margin-bottom: 2rem;
}

.contact__title {
  font-size: 2rem;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.contact__form-container {
  background-color: var(--primary-color);
  padding: 4rem;
  /* margin: 1rem auto 2rem auto; */
  max-width: 50rem;
  border-radius: 10px;
  text-align: left;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.08);
  transition: 0.3s ease-in-out;
}

.contact__form-container:hover {
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.15);
}

.contact__form {
  display: block;
}

.contact__form-field {
  margin-bottom: 2rem;
}

.contact__form-label {
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}

.contact__form-input {
  color: var(--primary-color);
  padding: 1.5rem;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 1rem;
  background: #f0f0f0;
  border-radius: 10px;
  font-weight: 600;
}

@media (max-width: 1133px) {
  .contact .container {
    flex-direction: column;
  }
  .contact__form {
    min-width: 300px;
    justify-content: center;
  }
  .contact__info {
    min-width: 300px;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .contact__title {
    font-size: 2.5rem;
  }
  .contact__form-container {
    padding: 2rem;
  }
}

@media (max-width: 400px) {
  .contact__title,
  .contact__form-container {
    padding: 2rem;
  }
  .contact__title {
    font-size: 2rem;
  }
}

/* FOOTER STYLES */

.footer {
  background-color: var(--primary-color);
  padding: 2rem 2rem;
}

.footer__container {
  max-width: 1000px;
  margin: auto;
}

.footer__row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.footer__col {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__separator {
  width: 2rem;
  margin: 1rem 0;
  text-align: center;
  color: white;
}

.footer__title {
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__item {
  color: white;
}

.footer__item a {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  display: block;
  transition: 0.3s ease;
  color: white;
}

.footer__item a:hover {
  color: #265023;
}

.footer__social-links {
  display: inline-block;
  cursor: pointer;
}

.footer__social-link {
  color: white;
  font-size: 2rem;
  margin: 0 0.5rem 0.5rem;
  transition: 0.3s ease;
}

.footer__social-link:first-child {
  margin-top: 0.3rem;
  margin-left: 0;
}

.footer__social-link:hover {
  color: #265023;
}

.footer__copyright {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  color: white;
}

.footer__copyright a {
  color: white;
}

.footer__copyright a:hover {
  color: #265023;
}

@media (min-width: 600px) {
  .footer__row {
    flex-direction: row;
  }
  .footer__col {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/* WINTER PAGE STYLES */

.winter-header,
.winter-footer {
  background-color: var(--secondary-color);
}

.winter-header .logo img {
  width: 3rem;
}

.winter-header .links a {
  color: white;
}

.winter-hero {
  background-image: url(photos/holiday-lights.webp);
}

.snow-removal,
.holiday-lighting {
  padding-bottom: 0;
}

.snow-removal h2,
.holiday-lighting h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.snow-removal .container,
.holiday-lighting .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
  max-width: 1100px;
}

.holiday-lighting .container {
  flex-direction: row-reverse;
}

.snow-removal .text,
.holiday-lighting .text {
  flex: 1;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 15px;
}

.snow-removal .image,
.holiday-lighting .image {
  flex: 1;
}

.snow-removal img,
.holiday-lighting img {
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 650px) {
  .snow-removal .container,
  .holiday-lighting .container {
    flex-direction: column;
  }
}

/* BOOKING PAGE STYLES */

/* BOOK PAGE */

.book {
  text-align: center;
}

.book__header {
  margin-bottom: 2rem;
  margin-top: 105.5px;
}

.book__title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.book__subtitle {
  font-size: 1.2rem;
}

/* ABOUT PAGE STYLES */

.about__hero {
  background-image: url(photos/stripes1.jpeg);
}

.about__main {
  display: flex;
  flex-direction: column;
}

.about__small-town-service,
.about__professional-work {
  padding-bottom: 0;
}

.about__small-town-service h2,
.about__professional-work h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}

.about__small-town-service .container,
.about__professional-work .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about__professional-work .container {
  margin-bottom: 1rem;
}

.about__small-town-service .text,
.about__professional-work .text {
  flex: 1;
  align-self: center;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 15px;
  line-height: 150%;
}

.about__small-town-service .image,
.about__professional-work .image {
  flex: 1;
}

.about__small-town-service img,
.about__professional-work img {
  width: 100%;
  border-radius: 15px;
}

.about__contact h2 {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 2rem;
}

@media (min-width: 675px) {
  .about__small-town-service .container {
    flex-direction: row;
  }
  .about__professional-work .container {
    flex-direction: row-reverse;
  }
}

@media (min-width: 855px) {
  .about__main .text {
    font-size: 1.2rem;
  }
}

/* SERVICES PAGE BELOW */

/* HERO SECTION */

.services__hero {
  background-image: url(photos/stripes2.webp);
}

/* MOW TRIM CLEAN UP SECTION */

.mowtrimcleanup {
  width: 100%;
  background-image: url(backgrounds/stripes-bg-green.webp);
}

.mowtrimcleanup .container {
  width: 100%;
  max-width: 1100px;
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  margin: auto;
}

.mowtrimcleanup .container .text {
  max-width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  place-self: center;
}

.mowtrimcleanup .container .text h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: 800;
}

.mowtrimcleanup .container .text p {
  font-size: 1rem;
  line-height: 1.75rem;
  max-width: 400px;
  flex-basis: 50%;
}

.mowtrimcleanup .swiper {
  max-width: 500px;
}

.mowtrimcleanup .swiper-slide {
  border-radius: 15px;
  object-fit: cover;
}

/* MOW TRIM CLEAN UP RESPONSIVE DESIGN */

@media (max-width: 965px) {
  .mowtrimcleanup .container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    gap: 1rem;
    text-align: center;
  }
}

@media (max-width: 685px) {
  .mowtrimcleanup .swiper {
    max-width: 300px;
  }
  .mowtrimcleanup .container {
    gap: 2rem;
  }
  .mowtrimcleanup .container .text h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 405px) {
  .mowtrimcleanup .swiper {
    max-width: 225px;
  }
  .mowtrimcleanup .container .text h2 {
    font-size: 2rem;
  }
}

/* KEY SERVICES SECTION */

.key-services {
  margin: 4rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.key-services header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.key-services header h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.cards-container {
  display: grid;
  place-items: center;
  margin-bottom: 4rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 1rem;
}

.cards .card {
  background-color: #53ae4d;
  color: white;
  padding: 2rem 2rem;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
}

.cards .card h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  translate: 0 3rem;
  transition: 0.2s ease-in-out;
}

.cards .card p {
  translate: 0 300px;
  transition: 0.2s ease-in-out;
}

.cards .card:hover > p {
  translate: 0 0;
}

.cards .card:hover > h3 {
  translate: 0 0;
}

/* KEY SERVICES SECTION RESPONSIVE DESIGN */

@media (max-width: 1115px) {
  .cards {
    grid-template-columns: repeat(2, minmax(250px, 300px));
    gap: 2rem;
  }
}

@media (max-width: 650px) {
  .cards {
    grid-template-columns: repeat(1, minmax(250px, 300px));
    gap: 2rem;
  }
  .key-services header h2 {
    font-size: 2rem;
  }
}

@media (hover: none) {
  .cards .card p {
    translate: 0 0;
  }
  .cards .card h3 {
    translate: 0 0;
  }
}
