@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

/* CONTACT FORM STYLES */

.contact {
  @include m.flex-center(column);
  @include m.section-layout;
  &__title {
    color: v.$dark-gray-color;
    text-transform: uppercase;
    text-align: center;
  }
}

.contact__form {
  display: block;
  &-container {
    background-color: v.$primary-color;
    padding: 4rem;
    /* margin: 1rem auto 2rem auto; */
    max-width: 50rem;
    border-radius: v.$border-radius;
    text-align: left;
    box-shadow: 0.8rem 1.6rem 1.6rem hsl(0deg 0% 0% / 0.08);
    transition: 0.3s ease-in-out;
    &:hover {
      box-shadow: 0.8rem 1.6rem 1.6rem hsl(0deg 0% 0% / 0.15);
    }
  }

  &-field {
    margin-bottom: 2rem;
  }

  &-label {
    color: v.$white-color;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
  }

  &-input {
    color: v.$primary-color;
    padding: 1.5rem;
    width: 100%;
    border: 0.1rem solid #ebebeb;
    font-size: 1.5rem;
    background: v.$light-gray-color;
    border-radius: v.$border-radius;
    font-weight: 600;
  }
}

@media (max-width: 1133px) {
  .contact .container {
    flex-direction: column;
  }
  .contact__form {
    min-width: 30rem;
    justify-content: center;
  }
  .contact__info {
    min-width: 30rem;
    justify-content: center;
  }
}
