@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.hero {
  &--services {
    background-image: url(../assets/images/stripes2.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    @include m.flex-center(column);

    &__title {
      padding: 1rem 3rem;
      @include m.title-text(8rem);
    }

    &__subtitle {
      padding: 0 3rem;
      @include m.title-text(4rem);
    }
  }
}

.mowtrimcleanup {
  width: 100%;
  background-image: url(../assets/images/stripes-bg-green.webp);
  @include m.flex-center(row);
  @include m.section-layout;
}

.mowtrimcleanup__header {
  color: v.$white-color;
}

.mowtrimcleanup__subtitle {
  max-width: 40rem;
}

.mowtrimcleanup__swiper {
  max-width: 50rem;
}

.mowtrimcleanup .swiper-slide {
  border-radius: v.$border-radius;
  object-fit: cover;
}

/* MOW TRIM CLEAN UP RESPONSIVE DESIGN */

@media (max-width: 965px) {
  .mowtrimcleanup {
    @include m.flex-center(column);
    text-align: center;
  }
}

@media (max-width: 685px) {
  .mowtrimcleanup .swiper {
    max-width: 30rem;
  }
  .mowtrimcleanup .container {
    gap: 2rem;
  }
  .mowtrimcleanup .container .text h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 405px) {
  .mowtrimcleanup .swiper {
    max-width: 22.5rem;
  }
  .mowtrimcleanup .container .text h2 {
    font-size: 2rem;
  }
}

/* KEY SERVICES SECTION */

.key-services {
  @include m.flex-center(column);
  @include m.section-layout;
}

.key-services_header {
  @include m.flex-center(column);
}

.key-services__cards-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 1rem;
  place-items: center;
  margin-bottom: 4rem;
}

.key-services__card {
  background-color: v.$primary-color;
  color: v.$white-color;
  padding: 2rem 2rem;
  text-align: center;
  overflow: hidden;
  border-radius: v.$border-radius;
  align-self: stretch;
}

.key-services__card-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
  translate: 0 3rem;
  transition: 0.2s ease-in-out;
}

.key-services__card-description {
  translate: 0 30rem;
  transition: 0.2s ease-in-out;
}

.key-services__card:hover > .key-services__card-description {
  translate: 0 0;
}

.key-services__card:hover > .key-services__card-title {
  translate: 0 0;
}

/* KEY SERVICES SECTION RESPONSIVE DESIGN */

@media (max-width: 1115px) {
  .key-services__cards-container {
    grid-template-columns: repeat(2, minmax(25rem, 30rem));
    gap: 2rem;
  }
}

@media (max-width: 650px) {
  .key-services__cards-container {
    grid-template-columns: repeat(1, minmax(25rem, 30rem));
    gap: 2rem;
  }
}

@media (hover: none) {
  .cards .card p {
    translate: 0 0;
  }
  .cards .card h3 {
    translate: 0 0;
  }
}
