*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

input[type=search]::-ms-clear,
input[type=search]::-ms-reveal,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
  .navbar__main-links {
    display: none !important;
  }
  .navbar__toggle-btn {
    display: block !important;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 420px) {
  html {
    font-size: 30%;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
  font-size: 1.8rem;
}

p {
  font-size: 1.8rem;
}

.highlight {
  color: #53ae4d;
  font-weight: 700;
}

.lazy_img {
  filter: blur(0.6rem);
  transition: ease-in-out 0.5s;
}
.lazy_img--loaded {
  filter: blur(0);
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.5s ease, scale 0.3s ease;
  text-transform: uppercase;
  width: max-content;
}
.btn--green {
  background-color: #53ae4d;
  color: white;
}
.btn--white {
  background-color: white;
  color: #53ae4d;
}
.btn--winter {
  background-color: #71b5e4;
  color: white;
}
.btn--hero {
  font-size: 2.5vw;
  margin: 0.5rem;
}
.btn:hover {
  scale: 1.05;
}
.btn:active {
  scale: 0.95;
}

/* CONTACT FORM STYLES */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 2rem;
  gap: 2rem;
}
.contact__title {
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.contact__form {
  display: block;
}
.contact__form-container {
  background-color: #53ae4d;
  padding: 4rem;
  /* margin: 1rem auto 2rem auto; */
  max-width: 50rem;
  border-radius: 1.5rem;
  text-align: left;
  box-shadow: 0.8rem 1.6rem 1.6rem hsla(0, 0%, 0%, 0.08);
  transition: 0.3s ease-in-out;
}
.contact__form-container:hover {
  box-shadow: 0.8rem 1.6rem 1.6rem hsla(0, 0%, 0%, 0.15);
}
.contact__form-field {
  margin-bottom: 2rem;
}
.contact__form-label {
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}
.contact__form-input {
  color: #53ae4d;
  padding: 1.5rem;
  width: 100%;
  border: 0.1rem solid #ebebeb;
  font-size: 1.5rem;
  background: #f0f0f0;
  border-radius: 1.5rem;
  font-weight: 600;
}

@media (max-width: 1133px) {
  .contact .container {
    flex-direction: column;
  }
  .contact__form {
    min-width: 30rem;
    justify-content: center;
  }
  .contact__info {
    min-width: 30rem;
    justify-content: center;
  }
}
.header__announcement-bar {
  background: linear-gradient(to bottom right, #53ae4d, #73d56c);
  color: #fff;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-around;
}
.header__announcement-bar-link {
  color: #fff;
  font-size: 1.5rem;
}
.header__announcement-bar-link-icon {
  margin-right: 1rem;
}

@media (max-width: 450px) {
  .header__announcement-bar-text {
    display: none;
  }
}
.navbar__main {
  width: 100%;
  height: 7rem;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.navbar__main-logo {
  display: flex;
  align-items: center;
}
.navbar__main-logo-title {
  font-size: 2.5rem;
  font-family: "mrs-eaves", serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #53ae4d;
}
.navbar__main-logo-img {
  width: 4rem;
}
.navbar__main-links {
  display: flex;
  gap: 3rem;
}
.navbar__main-link {
  font-size: 1.8rem;
  color: #53ae4d;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.navbar__mobile {
  position: absolute;
  right: 2rem;
  top: 9rem;
  height: 0;
  width: 30rem;
  background: #53ae4d;
  backdrop-filter: blur(1.5rem);
  border-radius: 1.5rem;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navbar__mobile--open {
  height: auto;
  z-index: 10;
}
.navbar__mobile-link {
  padding: 0.7rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__mobile-link:hover {
  scale: 1.05;
}

.navbar__toggle-btn {
  color: #53ae4d;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  z-index: 5;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background: linear-gradient(to bottom right, #4da147, #69e860);
  padding: 4rem;
  border-radius: 1.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__description,
.modal__text,
.btn--modal {
  color: white;
}

.modal__overlay,
.modal__close {
  position: absolute;
}

.modal__overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.3rem);
  z-index: 5;
}

.modal__close {
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 11;
}

.footer {
  background-color: #53ae4d;
  padding: 2rem 2rem;
}
.footer__container {
  max-width: 100rem;
  margin: auto;
}
.footer__row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.footer__col {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__separator {
  width: 2rem;
  margin: 1rem 0;
  text-align: center;
  color: #fff;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__item {
  color: #fff;
  font-size: 1.8rem;
}
.footer__title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
}
.footer__link {
  text-transform: capitalize;
  font-weight: 500;
  display: block;
  transition: 0.3s ease;
  color: #fff;
}
.footer__link:hover {
  color: rgb(57.703187251, 120.96812749, 53.53187251);
}
.footer__social {
  display: inline-block;
  cursor: pointer;
}
.footer__social-link {
  color: #fff;
  font-size: 4rem;
  margin: 0 0.5rem 0.5rem;
  transition: 0.3s ease;
}
.footer__social-link:first-child {
  margin-top: 0.3rem;
  margin-left: 0;
}
.footer__social-link:hover {
  color: rgb(57.703187251, 120.96812749, 53.53187251);
}
.footer__copyright {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2rem;
  color: #fff;
}
.footer__copyright-link {
  color: #fff;
}
.footer__copyright-link:hover {
  color: rgb(57.703187251, 120.96812749, 53.53187251);
}

@media (min-width: 600px) {
  .footer__row {
    flex-direction: row;
  }
  .footer__col {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -0.6rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.header--sticky {
  z-index: 10;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -0.6rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
  position: fixed;
  transition: transform 0.3s ease-in-out;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero__video {
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.hero__title {
  font-size: 3vw;
  padding: 0 3rem;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  z-index: 1;
  font-weight: normal;
}

.hero__text {
  margin: 1rem 1rem 4rem;
  z-index: 1;
}

.hero__tagline-1,
.hero__tagline-2 {
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  line-height: 90%;
}

.hero__tagline-1 {
  font-size: 5.5vw;
  font-weight: 800;
  margin-bottom: 1rem;
}

.hero__tagline-2 {
  font-size: 5vw;
}

.hero__underline-1,
.hero__underline-2 {
  position: relative;
}

.hero__underline-1::after {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  background-position: center;
  left: 0;
  bottom: 0;
  transform: translateY(35%);
  z-index: -1;
  background-image: url(/assets/images/underline.svg);
}

.hero__underline-2::after {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  background-position: center;
  left: 0;
  bottom: 0;
  transform: translateY(35%);
  z-index: -1;
  background-image: url(/assets/images/underline-2.svg);
}

.hero__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero--about {
  background-image: url(../assets/images/stripes1.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero--about__title {
  padding: 1rem 3rem;
  font-size: 8rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
.hero--about__subtitle {
  padding: 0 3rem;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}

.about__main {
  display: flex;
  flex-direction: column;
}

.about__small-town-service,
.about__professional-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 2rem;
  gap: 2rem;
  padding-bottom: 0;
}

.small-town-service__header,
.professional-work__header {
  text-align: center;
  margin-bottom: 2rem;
}

.small-town-service__container,
.professional-work__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.professional-work__container {
  flex-direction: row-reverse;
  margin-bottom: 2rem;
}

.small-town-service__description,
.professional-work__description {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 1.5rem;
  max-width: 300px;
}

.small-town-service__img-container,
.professional-work__img-container {
  width: 100%;
  flex-basis: 50%;
}

.small-town-service__img,
.professional-work__img {
  width: 100%;
  border-radius: 1.5rem;
}

@media (max-width: 520px) {
  .small-town-service__container,
  .professional-work__container {
    flex-direction: column;
  }
}
.book {
  text-align: center;
  padding: 7rem 2rem;
  gap: 2rem;
}

.hero--book {
  margin-bottom: 2rem;
  margin-top: 8rem;
}

/* HOME PAGE SERVICES SECTION STYLES */
.services {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 2rem;
  gap: 2rem;
}

.services__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.service--active {
  background-color: rgb(57.703187251, 120.96812749, 53.53187251);
  transition: ease 0.5s;
}

.service--raised {
  transform: translateY(-25%);
  transition: ease 0.5s;
}

.services__description {
  background-color: #f0f0f0;
  padding: 1.5rem;
  border-radius: 1.5rem;
  max-width: 70rem;
}

.service {
  background-color: #f0f0f0;
  padding: 1.5rem;
  border-radius: 1.5rem;
  width: 187px;
}

.service__icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: #fff;
}

/* Transition Section */
.transition {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 2rem;
  gap: 2rem;
  background-image: url(/assets/images/stripes3.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.transition__title {
  font-size: 7vw;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  color: #fff;
}

@media (max-width: 800px) {
  .transition {
    background-attachment: scroll;
  }
}
/* HOME PAGE GETTING STARTED SECTION STYLES */
.getting-started {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 2rem;
  gap: 2rem;
}

.getting-started__steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
}

.step {
  margin: 1rem 1.5rem;
  background-color: #f0f0f0;
  border-radius: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.step__icon {
  font-size: 7rem;
  color: #53ae4d;
}

.step__number {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
}

.step__description {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

@media (max-width: 650px) {
  .getting-started__steps {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
/* HOME PAGE REVIEWS SECTION STYLES */
.reviews {
  background-color: #f0f0f0;
  padding: 7rem 2rem;
  gap: 2rem;
}

.reviews__header {
  margin-bottom: 1rem;
}

/* MOW TRIM CLEAN UP SECTION */
.mowtrimcleanup {
  width: 100%;
  background-image: url(assets/images/stripes-bg-green.webp);
}

.mowtrimcleanup .container {
  width: 100%;
  max-width: 110rem;
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  margin: auto;
}

.mowtrimcleanup .container .text {
  max-width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  place-self: center;
}

.mowtrimcleanup .container .text h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: 800;
}

.mowtrimcleanup .container .text p {
  font-size: 1rem;
  line-height: 1.75rem;
  max-width: 40rem;
  flex-basis: 50%;
}

.mowtrimcleanup .swiper {
  max-width: 50rem;
}

.mowtrimcleanup .swiper-slide {
  border-radius: 1.5rem;
  object-fit: cover;
}

/* MOW TRIM CLEAN UP RESPONSIVE DESIGN */
@media (max-width: 965px) {
  .mowtrimcleanup .container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    gap: 1rem;
    text-align: center;
  }
}
@media (max-width: 685px) {
  .mowtrimcleanup .swiper {
    max-width: 30rem;
  }
  .mowtrimcleanup .container {
    gap: 2rem;
  }
  .mowtrimcleanup .container .text h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 405px) {
  .mowtrimcleanup .swiper {
    max-width: 22.5rem;
  }
  .mowtrimcleanup .container .text h2 {
    font-size: 2rem;
  }
}
/* KEY SERVICES SECTION */
.key-services {
  margin: 4rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.key-services header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.key-services header h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.cards-container {
  display: grid;
  place-items: center;
  margin-bottom: 4rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 1rem;
}

.cards .card {
  background-color: #53ae4d;
  color: #fff;
  padding: 2rem 2rem;
  text-align: center;
  overflow: hidden;
  border-radius: 1.5rem;
}

.cards .card h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  translate: 0 3rem;
  transition: 0.2s ease-in-out;
}

.cards .card p {
  translate: 0 30rem;
  transition: 0.2s ease-in-out;
}

.cards .card:hover > p {
  translate: 0 0;
}

.cards .card:hover > h3 {
  translate: 0 0;
}

/* KEY SERVICES SECTION RESPONSIVE DESIGN */
@media (max-width: 1115px) {
  .cards {
    grid-template-columns: repeat(2, minmax(25rem, 30rem));
    gap: 2rem;
  }
}
@media (max-width: 650px) {
  .cards {
    grid-template-columns: repeat(1, minmax(25rem, 30rem));
    gap: 2rem;
  }
  .key-services header h2 {
    font-size: 2rem;
  }
}
@media (hover: none) {
  .cards .card p {
    translate: 0 0;
  }
  .cards .card h3 {
    translate: 0 0;
  }
}
.hero--services {
  background-image: url(../assets/images/stripes2.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero--services__title {
  padding: 1rem 3rem;
  font-size: 8rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
.hero--services__subtitle {
  padding: 0 3rem;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}

.mowtrimcleanup {
  width: 100%;
  background-image: url(../assets/images/stripes-bg-green.webp);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7rem 2rem;
  gap: 2rem;
}

.mowtrimcleanup__header {
  color: #fff;
}

.mowtrimcleanup__subtitle {
  max-width: 40rem;
}

.mowtrimcleanup__swiper {
  max-width: 50rem;
}

.mowtrimcleanup .swiper-slide {
  border-radius: 1.5rem;
  object-fit: cover;
}

/* MOW TRIM CLEAN UP RESPONSIVE DESIGN */
@media (max-width: 965px) {
  .mowtrimcleanup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 685px) {
  .mowtrimcleanup .swiper {
    max-width: 30rem;
  }
  .mowtrimcleanup .container {
    gap: 2rem;
  }
  .mowtrimcleanup .container .text h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 405px) {
  .mowtrimcleanup .swiper {
    max-width: 22.5rem;
  }
  .mowtrimcleanup .container .text h2 {
    font-size: 2rem;
  }
}
/* KEY SERVICES SECTION */
.key-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 2rem;
  gap: 2rem;
}

.key-services_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.key-services__cards-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 1rem;
  place-items: center;
  margin-bottom: 4rem;
}

.key-services__card {
  background-color: #53ae4d;
  color: #fff;
  padding: 2rem 2rem;
  text-align: center;
  overflow: hidden;
  border-radius: 1.5rem;
  align-self: stretch;
}

.key-services__card-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
  translate: 0 3rem;
  transition: 0.2s ease-in-out;
}

.key-services__card-description {
  translate: 0 30rem;
  transition: 0.2s ease-in-out;
}

.key-services__card:hover > .key-services__card-description {
  translate: 0 0;
}

.key-services__card:hover > .key-services__card-title {
  translate: 0 0;
}

/* KEY SERVICES SECTION RESPONSIVE DESIGN */
@media (max-width: 1115px) {
  .key-services__cards-container {
    grid-template-columns: repeat(2, minmax(25rem, 30rem));
    gap: 2rem;
  }
}
@media (max-width: 650px) {
  .key-services__cards-container {
    grid-template-columns: repeat(1, minmax(25rem, 30rem));
    gap: 2rem;
  }
}
@media (hover: none) {
  .cards .card p {
    translate: 0 0;
  }
  .cards .card h3 {
    translate: 0 0;
  }
}
/* WINTER PAGE STYLES */
.hero--winter {
  background-image: url(/assets/images/holiday-lights.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero--winter__title {
  padding: 1rem 3rem;
  font-size: 8rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
.hero--winter__subtitle {
  padding: 0 3rem;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}

.winter-header,
.winter-footer {
  background-color: #71b5e4;
}

.winter-header .logo img {
  width: 3rem;
}

.winter-header .links a {
  color: #fff;
}

.page-hero--winter {
  background-image: url(../assets/images/holiday-lights.webp);
}

.snow-removal {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 2rem;
  gap: 2rem;
  padding-bottom: 0;
}

.snow-removal__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
  max-width: 110rem;
}

.snow-removal__description {
  flex: 1;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 1.5rem;
}

.snow-removal__img-container {
  flex: 1;
}

.snow-removal img,
.holiday-lighting img {
  width: 100%;
  border-radius: 1.5rem;
}

@media (max-width: 520px) {
  .snow-removal__container {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
